<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body class="bg-gray-100">
  <div>
    <h1 class="text-center md:text-5xl text-xl mt-2 font-sans p-2">
      Feeds - Best Platform To Share Thoughts
    </h1>
    <form class="md:w-1/3 w-3/4 m-auto md:mt-24 mt-6 bg-gray-400 md:p-4 p-2 shadow rounded" action="/login" method="post">
      <h2 class="text-center md:text-3xl text-xl md:p-5 p-2">Log In</h2>
      <div class="w-full md:mb-4 mb-2">
        <input 
          class="md:text-base text-sm w-full md:p-3 p-2 border rounded-full"
          type="email" 
          name="email" 
          placeholder="Email"
          value="">
      </div>
      <div class="md:text-base text-sm  w-full md:mb-4 mb-2">
        <input 
          class="w-full md:p-3 p-2 border rounded-full"
          type="password" 
          name="password" 
          placeholder="Password"
          id="password1">
      </div>
      <% if(error) {%>
        <div class="text-center text-red-500 p-2">
          <%=error%>
        </div>
      <%}%>
      <div class="w-full mb-4 text-center">
        <input 
          class="md:w-full w-3/4 md:text-base text-sm md:p-3 p-2 bg-purple-700 rounded-full text-white cursor-pointer hover:bg-purple-800 animate" 
          type="submit" 
          value="Login">
      </div>
      <div class="w-full mb-4 text-center">
        <a 
          class="md:w-full w-3/4 md:text-base text-sm md:p-3 p-2 bg-pink-700 rounded-full text-white cursor-pointer hover:bg-pink-800 animate"
          href="/register">
          Dont Have Account Yet? Regiter</a>
      </div>
    </form>
  </div>
  </body>
</html>