<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Under Construstion</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <h1 class="font-mono text-center md:w-4/5 w-full md:text-6xl text-xl m-auto mt-16">
      The Platform is currently under construction. Sorry for Inconvineance!
    </h1>
  </body>
</html>