<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome <%=username %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="w-1/3 m-auto bg-gray-300 mt-32 p-6 text-center">
      <h2 class="text-center text-4xl"> Welcome! </h2>
      <p class="text-center mb-4"> Hello <%=username%>. Welcome to <b> Feeds </b> A platform where you can post anything you like and the best part no follower system which means everyone gets to see your content and if people like, people will see it</p>
      <a href="/" class="mt-4 p-2 border border-purple-700 hover:bg-purple-700 hover:text-white text-bold animate rounded-full">Get Started</a>
    </div>
  </body>
</html>